body{
	position: relative;
}
.rec{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.85);
	margin:60px auto;
	animation-name: anim;
	animation-duration: 2s;
	transition: top 2s;
}
.r{
	
	height: 200px;
	width: 200px;
	background: rgba(0, 0, 0, 0.85);
	animation-name: anim;
	animation-duration: 2s;
}
@keyframes anim{
	0%{
		transform: rotateX(90deg);
}
	25%{
		transform: rotateY(90deg);

	}
	50%{
		transform: rotateY(-90deg);
		top: 100px;
		position: relative;
	}
	75%{
		transform: rotateX(-90deg);
	}
	80%{
		transform: scale(1.2);
	}
	90%{
		transform: scale(1.4);
	}
	100%{
		transform: scale(1.6);
	}
	}

