*{
	box-sizing: border-box;
}
.cards{
	display: flex;
	min-height: 800px;
	background:rgb(63, 255, 144) ;
	 
/*	justify-content: center;*/
	align-items: center;
	flex-wrap: wrap;
}

.card{
	height: 200px;
	background:#fff;
	margin: 20px 30px;
	border: 8px inset rgb(63, 255, 144);
	flex: 0 0 306px;
}